@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600;800&family=Noto+Serif&family=Rubik+Glitch&display=swap');


body {
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    background-color: #CAC8CD;
}


h1 {
    font-family: 'Rubik Glitch','Bebas Neue', cursive;
    text-align: left;
    font-size: 2.2rem;
    text-transform: uppercase;
    background-color: #493065;
    color: white;
    margin-left: -4%;
    padding-left: 2%;
    margin-right: -4%;
}
.table {
    width: 100%;
    padding-left: 4%;
}

ul {
    margin: 0;
    padding-left: 4%;
    list-style-image: url(/imgs/icons/icons8-settings.svg);

}

ol {
    padding-left: 4%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #493065;
    font-weight: 600;
}

.card {
  
    background-color: white;
    font-family: 'Montserrat', serif;
    font-size: 130%;
}

#header {
    position: fixed;
    top: 0;
    right: 3%;
    left: 3%;
}

.header {
    width: 100%;
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header a {
    color: white;
}

.header div:nth-child(1) {
    flex-basis: 100%;
    background-color: transparent;
}

.header div:nth-child(2) {
    background-color: #727074;
}
 
.headeritam {
    border: 1px solid #CAC8CD;
    box-sizing: border-box;
    background-color: #493065;
    width: 10%;
    font-size: 75%;
    text-align: center;
}

.headeritam img {
    padding-top: 10%;
    filter: invert(1);
}

.headeritam a {
    text-transform: uppercase;
    text-decoration: none;
}

.headeritam:hover {
    background-color: #727074;
    color: black;
}

.id {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.id div:nth-child(2) {
    flex-grow: 2;
}

.iditam {
    margin: 2%;
   
}

#title {
    margin-top: 200px;
}

.title {
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:white;
    text-align: center;
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    font-size: 140%;
}

.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 1%;
}

.socialitam {
    width: 20%;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: row;
}

.skillsitam {
    width: 50%;
    margin: 2%;
}

.projects table {
    table-layout: fixed;
    border-collapse: collapse;
}

.projects th {
   background-color: #493065 ;
   color: white;
   border: 1px solid white;
}

.projects th:nth-child(1) {
  width: 40%;
}

.projects th:nth-child(2) {
    width: 30%;
  }

.hobbies {
    display: flex;
    flex-direction: row;
    
}

.hobbiesitam {
    width: 50%;
    margin: 2%;
}

.other {
    padding-left: 4%;
    padding-bottom: 4%;
}

.education {
    display: flex;
    flex-direction: row;
    
}

.educationitam {
    width: 50%;
    margin: 2%;
}

.how {
    display: flex;
    flex-direction: row;
    
}

.howitam {
    width: 50%;
    margin: 2%;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactsitam {
    width: 50%;
    text-align: center;
    padding-bottom: 4%;
}

.contacts div:nth-child(3) {
    flex-basis: 100%;
}

.contacts div:nth-child(4) {
    flex-basis: 100%;
}

.button {
    color: #493065;
    cursor:pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }








  @media (max-width: 800px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }

    h1 {
        font-size: 1.2rem;
    }

    .headeritam {
        width: 20%;
        font-size: 35%;
    }

    .img {
        max-width: 180px;
    }

    .title {
        font-size: 110%;
    }

    .headeritam {
        font-size: 35%;
    }

    .card {  
        background-color: white;
        font-family: 'Montserrat', serif;
        font-size: 90%;
    }
      
      .iditam {
      font-size: 70%}
}
  
